$timing-functions: (
  sine: cubic-bezier(0.37, 0, 0.63, 1),
  quad: cubic-bezier(0.45, 0, 0.55, 1),
  cubic: cubic-bezier(0.65, 0, 0.35, 1),
  quart: cubic-bezier(0.76, 0, 0.24, 1),
  quint: cubic-bezier(0.83, 0, 0.17, 1),
  expo: cubic-bezier(0.87, 0, 0.13, 1),
  circ: cubic-bezier(0.85, 0, 0.15, 1),
  bounce: cubic-bezier(0.68, -0.6, 0.32, 1.6),
);
