@use "../base/typography" as *;

// Media query
@mixin mq($key) {
  $size: map-get($breakpoints, $key);

  @media only screen and (min-width: $size) {
    @content;
  }
}

// Container
@mixin container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: var(--space-200) 0;
}

// Flex
@mixin flex {
  display: flex;
  gap: var(--space-100);
}

// Tooltip
@mixin tooltip {
  &::before {
    @include h6;
    content: attr(aria-label);
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -175%;
    rotate: 15deg;
    text-shadow: var(--text-shadow-400);
    opacity: 0;
    transition: all var(--transition-duration) var(--transition-timing-function);
  }

  &::after {
    content: url(../images/undraw_arched-arrow.svg);
    position: absolute;
    scale: -0.5 0.5;
    rotate: 0.6turn;
    top: -70%;
    left: -10%;
    filter: drop-shadow(var(--text-shadow-400));
    opacity: 0;
    transition: all var(--transition-duration) var(--transition-timing-function);
  }

  &:hover {
    &::before,
    &::after {
      opacity: 1;
    }
  }
}
