$footer-height: $spacing-md * 9;

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $footer-height;
  background-color: $color-secondary;
  color: $gray-700;

  .logo {
    fill: $color-primary;

    &:hover {
      fill: $title-color;
    }
  }
}
