$footer-height: $spacing-md * 9;

.l-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $footer-height;
  background-color: $color-secondary;
  color: $gray-700;

  .logo {
    fill: $color-primary;

    &:hover {
      fill: $title-color;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    flex-direction: column;
    gap: $spacing-lg;
    height: auto;

    .logo {
      align-self: center;
    }

    .button {
      width: 100%;
    }
  }
}
