.grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: $spacing-md;
}

.grid-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 $spacing-md;
  grid-auto-flow: dense;
}

.grid-columns-half {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 $spacing-md;
}

.grid-columns-5 {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: $spacing-md;
  justify-items: start;
  justify-content: start;
  margin-bottom: $spacing-md;
}
