.logo {
  @extend %link;
  display: inline-flex;
  align-items: center;
  fill: $title-color;

  &:hover {
    fill: $color-primary;
  }

  &__image {
    width: 3rem;
    height: 3rem;
    transition: all $transition-duration $transition-timing-function;

    .logo:hover & {
      filter: url(#chalk);
    }
  }

  &__type {
    @extend %h1;
    font-size: 100%;
    font-style: italic;
    line-height: 1;
    text-indent: 0.85ch;
    margin-left: $spacing-sm;
  }
}
