.logo {
  @extend %link;
  display: inline-flex;
  align-items: center;
  fill: $title-color;
  filter: url(#chalk);
  // filter: url(#soft-light) url(#fuzzy-edge);
  // filter: url(#fuzzy-edge);
  // filter: url(#soft-light);
  // filter: url(#outline);

  &:hover {
    fill: $color-primary;
  }

  &__image {
    width: 3rem;
    height: 3rem;
    transition: all $transition-duration $transition-timing-function;
    // filter: url(#fuzzy-edge) url(#soft-light);
    // filter: url(#fuzzy-edge);
    // filter: url(#chalk);
  }

  &__type {
    @extend %h1;
    font-size: 100%;
    font-style: italic;
    line-height: 1;
    text-indent: 0.85ch;
    margin-left: $spacing-sm;
    // filter: url(#fuzzy-edge) url(#soft-light);
  }
}
