%link {
  display: inline-flex;
  position: relative;
  padding: $spacing-xs;
  // filter: url(#fuzzy-text);

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: $border-width $border-style $title-color;
    scale: 0% 100%;
    z-index: -1;
    transform-origin: left;
    transition: all $transition-duration $transition-timing-function;
    // filter: url(#soft-light) url(#fuzzy-edge);
    // filter: url(#soft-light);
    filter: url(#fuzzy-edge);
  }

  &:hover,
  &.active {
    color: $color-info;
    text-decoration: none;

    &::after {
      scale: 100% 100%;
    }
  }

  &.disabled {
    @extend %tooltip;
    cursor: not-allowed;

    &::after {
      scale: 100%;
    }

    &:hover {
      color: $text-color-dark;
    }
  }
}

.link {
  @extend %link;
}
