.slide {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr;
  margin: 5rem $spacing-md;
  background-color: $gray-100;
  border-radius: $border-radius;
  box-shadow: $box-shadow-dark;
  scroll-snap-align: center;
  transition: all $transition-duration $transition-timing-function;

  &:hover {
    scale: 1.025;
    transition: all 0.5s $transition-timing-function;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    margin: $spacing-md;

    &:hover {
      scale: 1.05;
    }
  }
}

.slide__image-container {
  @extend %background-texture;
  position: relative;
  height: 500px;
  background-color: $color-primary-light;
  border-radius: $border-radius 0 0 $border-radius;
  overflow: hidden;
  isolation: isolate;
  transition: all $transition-duration $transition-timing-function;

  @media screen and (max-width: $mobile-breakpoint) {
    height: auto;
    max-width: 100%;
    aspect-ratio: 6 / 4;
    border-radius: $border-radius $border-radius 0 0;
  }
}

.slide__image-container img {
  width: 100%;
  object-fit: contain;
  border-radius: $spacing-md;
  box-shadow: $box-shadow-dark, -1px 0 0 $gray-100, -2px 1px 0 $gray-100,
    -2px 2px 0 $gray-100, -3px 2px 0 $gray-100, -3px 3px 0 $gray-100,
    $box-shadow-dark, $box-shadow-dark;
  scale: 1.1;
  translate: 0 0;
  transform-origin: top;
  transform: rotate3d(1, 1, 1, -45deg);
  transition: scale 1s $transition-timing-function,
    translate 1s $transition-timing-function,
    transform 1s $transition-timing-function;

  .slide:hover & {
    scale: 0.7;
    translate: -4rem 4rem;
    transform: rotate3d(1, 0.2, 1, -20deg);
    transition: scale 5s $transition-timing-function,
      translate 5s $transition-timing-function,
      transform 5s $transition-timing-function;

    &.scroll {
      translate: -10% -10%;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    border-radius: $spacing-xs;
    scale: 1.5;

    .slide:hover & {
      translate: -1rem 2.5rem;

      &.scroll {
        translate: -10% 0;
      }
    }
  }
}

.slide__title {
  padding-top: 0;
  padding-bottom: $spacing-md;
  color: $title-color;
}

.slide__description-container {
  @extend %background-texture;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: $spacing-md;
  // background-color: $gray-800;
  padding: $spacing-xl;
  padding-top: $spacing-xxl;
  border-radius: 0 $border-radius $border-radius 0;
  transition: all $transition-duration $transition-timing-function;
  // filter: url(#soft-light);
  // lame fallback becuase background-blend-mode
  // and background-repeat break on iOS
  background-image: url(../../images/bg-dark.png);
  background-size: 182px 182px;

  @media screen and (max-width: $mobile-breakpoint) {
    padding: $spacing-lg;
    border-radius: 0 0 $border-radius $border-radius;
  }
}

.slide__description {
  padding-top: $spacing-sm;
  border-top: $border-dotted;

  @media screen and (max-width: $mobile-breakpoint) {
    display: none;
  }
}
