.squiggle {
  display: inline-block;
  position: relative;

  &::before {
    position: absolute;
    bottom: 0;
    opacity: 0.8;
    scale: 0.9;
    filter: url(#chalk);

    @media screen and (max-width: $mobile-breakpoint) {
      transform-origin: left;
      scale: 0.55;
    }
  }

  &--simple::before {
    content: url(../../images/squiggle1.svg);
    translate: -1rem 1rem;
    rotate: 3deg;

    @media screen and (max-width: $mobile-breakpoint) {
      translate: -0.5rem 0.75rem;
    }
  }

  &--beautiful::before {
    content: url(../../images/squiggle2.svg);
    translate: -0.5rem 1.25rem;
    rotate: 5deg;

    @media screen and (max-width: $mobile-breakpoint) {
      translate: 0 0.75rem;
    }
  }

  &--useful::before {
    content: url(../../images/squiggle3.svg);
    translate: -1.25rem 1.75rem;

    @media screen and (max-width: $mobile-breakpoint) {
      translate: -0.75rem 2rem;
    }
  }
}
