%tooltip {
  position: relative;
  // filter: url(#fuzzy-edge);

  &::before {
    @extend %label;
    content: attr(aria-label);
    display: block;
    position: absolute;
    top: calc($spacing-sm) * -1;
    left: 50%;
    line-height: 1;
    white-space: nowrap;
    color: $gray-700;
    padding: $spacing-sm;
    background-color: $color-info;
    border-radius: $border-radius;
    // transform: translate(-50%, calc(-100% + 0.5rem));
    translate: -50% calc(-100% + 0.5rem);
    opacity: 0;
    z-index: 100;
    pointer-events: none;
    transition: all calc($transition-duration / 2) $transition-timing-function;
    // filter: url(#soft-light);
    // filter: url(#fuzzy-text);
    // filter: url(#fuzzy-edge);
    // filter: url(#chalk);
  }

  &::after {
    content: "";
    position: absolute;
    top: $spacing-md;
    left: 50%;
    width: 0;
    height: 0;
    border-width: $spacing-md;
    border-style: solid;
    border-color: $color-info transparent transparent transparent;
    translate: -50% calc(-100% + 0.5rem);
    opacity: 0;
    z-index: 100;
    pointer-events: none;
    transition: all calc($transition-duration / 2) $transition-timing-function;
    // filter: url(#chalk);
  }

  &:hover,
  &:focus,
  &:focus-within,
  &:hover,
  &:focus,
  &:focus-within {
    &:before,
    &:after {
      opacity: 1;
      translate: -50% -100%;
      transition: all $transition-duration $transition-timing-function;
    }
  }

  &[disabled]::before,
  &.disabled::before {
    content: attr(aria-label) " Disabled";
  }

  &.disabled--coming-soon::before {
    content: "Coming Soon!";
  }
}

.has-tooltip {
  @extend %tooltip;
}
