{% assign file-name = service.name | downcase | split: " " | join: "-" | append:
 "-service-illustration.svg" %}

<div class="card">
  <div class="card__illustration">
    <img
      src="../assets/images/service-illustrations/{{file-name}}"
      alt=""
      role="presentation" />
  </div>
  <span>{{ service.name }}</span>
  <div class="flex">
    {% for tag in service.tags %}
      <span class="tag">
        {{ tag.name }}
      </span>
    {% endfor %}
  </div>
  <span>
    {{ service.timeline }}
  </span>
</div>