<div class="solution-card">
  <h3 class="solution-card__title">Fly Mode</h3>
  <div class="solution-card__body">
    <p class="solution-card__description">The fly mode screen was the main focus of the challenge. Here I establish the layout structure of the page. I paid special attention to the vehicle outliner and how to represent the various states and controls for a vehicle based on its current status.</p>
  </div>
  <img
    class="solution-card__image"
    src="/assets/images/case-studies/thumbnails/ground-control-station-thumbnail.png"
    alt=""
    role="presentation">
</div>