<div class="testimonial-card">
  <div class="testimonial-card__illustration">
    {% include illustrations/cube-layer.liquid %}
  </div>
  <figure class="testimonial-card__testimonial">
    <blockquote class="testimonial-card__quote">NASA is researching future aviation operations where pilots will simultaneously control multiple aircraft remotely.</blockquote>
    <figcaption class="testimonial-card__attribution">NASA Tournament Lab</figcaption>
  </figure>
</div>