<div class="card">
  <div class="card__illustration"></div>
  <figure class="testimonial">
    <blockquote class="testimonial-quote">NASA is researching future aviation operations where pilots will simultaneously control multiple aircraft remotely.</blockquote>
    <figcaption class="testimonial-attribution">NASA Tournament Lab</figcaption>
  </figure>
</div>