<a
  href=""
  class="project-card project-card--{{project.size}}"
  data-color="{{project.color}}">
  {% if project.size == "small" %}
    <img
      src="assets/images/projects/illustrations/..."
      alt=""
      role="presentation"
      class="project-card__illustration" />
  {% else %}
    <img
      src="assets/images/projects/thumbnails/..."
      alt=""
      role="presentation"
      class="project-card__thumbnail" />
  {% endif %}
  {% if project.size != "small" %}
    {% for tag in project.tags %}
      <span class="tag">{{ tag.name }}</span>
    {% endfor %}
  {% endif %}
  <span class="project-card__title">{{ project.name }}</span>
</a>