/* ---------------------------------------- */
/*                 EXAMPLE                  */
/* ---------------------------------------- */

/*
<div class="table">
    <table>
        <thead>
            <tr>
                <th></th>
                ...
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                ...
            </tr>
            ...
        </tbody>
        <tfoot>
            <tr>
                <th scope="row"></th>
                <td></td>
                ...
            </tr>
        </tfoot>
    </table>
</div>
*/

// ---------------------------------- \\
//             VARIABLES              \\
// ---------------------------------- \\

$table-cell-padding: $spacing-sm;
$table-cell-height: calc($button-height + calc($table-cell-padding * 2));
$condensed-table-cell-height: calc($table-cell-height * 0.75);

// ---------------------------------- \\
//               STYLES               \\
// ---------------------------------- \\

.table {
  display: grid;
  line-height: 1;
  background-color: #fff;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  th,
  td {
    @extend %p;
    height: $table-cell-height;
    padding: $table-cell-padding calc($table-cell-padding * 2);
    vertical-align: middle;
  }

  th {
    text-align: left;
    color: $text-color-dark;
    background-color: $gray-100;
    border-bottom: $border;
  }

  tr:not(:last-of-type) td {
    border-bottom: $border;
  }

  tr:hover td {
    background-color: $gray-100;
  }

  thead th:first-child {
    border-radius: $border-radius 0 0 0;
  }

  thead th:last-child {
    border-radius: 0 $border-radius 0 0;
  }

  tbody tr:last-of-type td:first-child,
  tfoot tr:last-of-type td:first-child,
  tfoot tr:last-of-type th:first-child {
    border-radius: 0 0 0 $border-radius;
  }

  tbody tr:last-of-type td:last-child,
  tfoot tr:last-of-type td:last-child tfoot tr:last-of-type th:last-child {
    border-radius: 0 0 $border-radius 0;
  }

  &--striped {
    tr:nth-of-type(even) td {
      background-color: $gray-100;
    }

    tr:nth-of-type(odd):hover td {
      background-color: #fff;
    }
  }

  &--condensed {
    th,
    td {
      height: $condensed-table-cell-height;
    }
  }

  .form-group {
    margin-bottom: 0;
  }
}

.table__actions {
  display: flex;
  justify-content: end;
  gap: $table-cell-padding;
}
