/* ---------------------------------------- */
/*                 EXAMPLE                  */
/* ---------------------------------------- */

/* 
<div class="form-group form-group--checkbox">
    <label for="" class="form-group__label">Checkboxes</label>
    <label for="sg-checkbox-1" class="form-group__input">
        <input type="checkbox" name="checkboxes" id="sg-checkbox-1" class="form-group__checkbox">
        <span class="form-group__checkbox-label">Option 1</span>
    </label>
    <label for="sg-checkbox-2" class="form-group__input">
        <input type="checkbox" name="checkboxes" id="sg-checkbox-2" class="form-group__checkbox">
        <span class="form-group__checkbox-label">Option 2</span>
    </label>
    <label for="sg-checkbox-3" class="form-group__input">
        <input type="checkbox" name="checkboxes" id="sg-checkbox-3" class="form-group__checkbox">
        <span class="form-group__checkbox-label">Option 3</span>
    </label>
</div>

<div class="form-group form-group--radio">
    <label for="" class="form-group__label">Radio Buttons</label>
    <label for="sg-radio-1" class="form-group__input">
        <input type="radio" name="radioes" id="sg-radio-1" class="form-group__radio">
        <span class="form-group__radio-label">Option 1</span>
    </label>
    <label for="sg-radio-2" class="form-group__input">
        <input type="radio" name="radioes" id="sg-radio-2" class="form-group__radio">
        <span class="form-group__radio-label">Option 2</span>
    </label>
    <label for="sg-radio-3" class="form-group__input">
        <input type="radio" name="radioes" id="sg-radio-3" class="form-group__radio">
        <span class="form-group__radio-label">Option 3</span>
    </label>
</div>
*/

/* ---------------------------------------- */
/*                  STYLES                  */
/* ---------------------------------------- */

.form-group--checkbox,
.form-group--radio {
  grid-template-rows: auto $input-height;
  grid-template-columns: auto;
  grid-auto-rows: minmax($input-height, auto);
  grid-template-areas:
    "label"
    "inputs";
  grid-row-gap: $spacing-sm;
  justify-content: start;
}

.form-group--checkbox .form-group__input,
.form-group--radio .form-group__input {
  grid-area: auto;
  display: grid;
  grid-template-columns: $input-icon-width auto;
  grid-template-areas: "input label";
  align-items: center;
  padding: $spacing-sm $spacing-md $spacing-sm 0;
  text-transform: none;
  letter-spacing: normal;
}

.form-group--checkbox .form-group__input:focus-within,
.form-group--radio .form-group__input:focus-within {
  background-color: white;
  border-color: $color-primary;
  box-shadow: 0 0 0 ($border-width * 2) $color-primary-light,
    $button-box-shadow-base;
  outline: none;
}

.form-group--checkbox .form-group__input input {
  justify-self: center;
}

.form-group__checkbox,
.form-group__radio {
  grid-area: input;
  justify-self: center;
}

.form-group__checkbox-label,
.form-group__radio-label {
  grid-area: label;
}

.form-group--checkbox .form-group__label,
.form-group--radio .form-group__label {
  height: $input-label-height;
  margin-bottom: calc($spacing-sm * -1);
}

.form-group--checkbox .form-group__radio,
.form-group--radio .form-group__radio {
  margin: 0;
}

.form-group--checkbox .form-group__radio:focus,
.form-group--radio .form-group__radio:focus {
  outline: none;
}
