/* ---------------------------------------- */
/*                 EXAMPLE                  */
/* ---------------------------------------- */

/*
<div class="form-group form-group--file">
    <label for="images" class="form-group__label">Upload Images</label>
    <label for="images" class="form-group__input">
        <input type="file" id="images" name="images" class="form-group__file" multiple>
        <span class="form-group__file-icon">
            <i class="far fa-cloud-upload"></i>
        </span>
        <span class="form-group__file-label">
            Drag or click to upload files
        </span>
    </label>
</div>
*/

/* ---------------------------------------- */
/*                  STYLES                  */
/* ---------------------------------------- */

.form-group--file {
    grid-template-rows: 
        auto
        auto
        auto;
    grid-template-columns: auto;
    grid-template-areas: 
        "label"
        "input"
        "help-text";
}

.form-group--file .form-group__input {
    grid-area: input;
    display: grid;
    grid-template-rows:
        calc($input-height / 2)
        calc($input-height * 2)
        $input-label-height
        calc($input-label-height / 2);
    grid-template-areas: 
        "."
        "icon"
        "text"
        ".";
    justify-items: center;
    align-items: center;
    color: $text-color-light;
}

.form-group__file {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

    .form-group__file-icon {
        grid-area: icon;
        font-size: 4em;
        line-height: 4rem;
    }
    
    .form-group__file-label {
        @extend %p;
        grid-area: text;
        text-transform: none;
        letter-spacing: normal;
    }


.form-group--file .form-group__file:hover + .form-group__input,
.form-group--file .form-group__file--active + .form-group__input {
    color: $color-primary;
    border-color: $color-primary;
}

.form-group--file .form-group__input:focus-within {
    border-color: $color-primary;
    background-color: #fff;
    box-shadow: 0 0 0 ($border-width * 2) $color-primary-light, 
                $button-box-shadow-base;
}
