// ---------------------------------- \\
//              COLORS                \\
// ---------------------------------- \\

$gray-100: hsl(0, 0%, 98%);
$gray-200: hsl(197, 6%, 78%);
$gray-300: hsl(208, 8%, 63%);
$gray-400: hsl(230, 7%, 47%);
$gray-500: hsl(227, 5%, 34%);
$gray-600: hsl(240, 3%, 22%);
$gray-700: hsl(218, 14%, 16%);
$gray-800: hsl(224, 22%, 10%);

$navy-100: hsl(207, 20%, 91%);
$navy-400: hsl(215, 78%, 36%);
$navy-700: hsl(210, 83%, 18%);

$orange-100: hsl(26, 97%, 88%);
$orange-400: hsl(35, 70%, 48%);
$orange-700: hsl(20, 76%, 40%);

$purple-100: hsl(250, 51%, 91%);
$purple-400: hsl(253, 51%, 55%);
$purple-700: hsl(252, 55%, 31%);

$blue-100: hsl(209, 96%, 89%);
$blue-300: hsl(208, 97%, 75%);
$blue-400: hsl(215, 79%, 44%);
$blue-700: hsl(215, 79%, 28%);

$green-100: hsl(159, 41%, 87%);
$green-300: hsl(122, 54%, 78%);
$green-400: hsl(158, 68%, 32%);
$green-700: hsl(159, 72%, 18%);

$yellow-100: hsl(43, 97%, 85%);
$yellow-300: hsl(38, 100%, 68%);
$yellow-400: hsl(35, 70%, 48%);
$yellow-700: hsl(37, 70%, 31%);

$red-100: hsl(358, 70%, 91%);
$red-300: hsl(356, 75%, 70%);
$red-400: hsl(358, 68%, 55%);
$red-700: hsl(359, 75%, 30%);

$teal-300: hsl(179, 50%, 46%);
$pink-300: hsl(305, 72%, 83%);

$color-danger: $red-300;
$color-danger-light: $red-100;
$color-danger-dark: $red-700;
$color-warning: $yellow-300;
$color-warning-light: $yellow-100;
$color-warning-dark: $yellow-700;
$color-success: $green-300;
$color-success-light: $green-100;
$color-success-dark: $green-700;
$color-info: $blue-300;
$color-info-light: $blue-100;
$color-info-dark: $blue-700;

$title-color: $gray-100;
$title-inverse-color: $gray-700;

$text-color: $gray-300;
$text-color-light: $gray-400;
$text-color-dark: $gray-200;

$link-color: $title-color;
$link-color-light: $text-color-light;

$color-primary: $red-300;
$color-primary-light: $red-100;
$color-primary-dark: $red-700;

$color-secondary: $yellow-300;
$color-secondary-light: $yellow-100;
$color-secondary-dark: $yellow-700;

// ---------------------------------- \\
//             TYPOGRAPHY             \\
// ---------------------------------- \\

$base-font-size: 18px;

$font-family-title: "Barlow Semi Condensed", "Inter", system-ui, -apple-system,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";
$font-family-title-alt: "Zilla Slab", "Inter", system-ui, -apple-system,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";
$font-family-text: "Calendas Plus", "Inter", system-ui, -apple-system,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";
$font-family-mono: "Roboto Mono", monospace;

// ---------------------------------- \\
//               SPACING              \\
// ---------------------------------- \\

$spacing-base: 1rem;

$spacing-xs: calc($spacing-base / 4);
$spacing-sm: calc($spacing-base / 2);
$spacing-md: $spacing-base;
$spacing-lg: calc($spacing-base * 1.5);
$spacing-xl: calc($spacing-base * 2);
$spacing-xxl: calc($spacing-base * 2.5);

// ---------------------------------- \\
//               BORDER               \\
// ---------------------------------- \\

$border-width: 0.125rem;
$border-style: solid;
$border-color: $gray-400;
$border-color-dark: $gray-200;
$border-color-alt: $color-secondary;
$border: $border-width $border-style $border-color;
$border-dotted: $border-width dotted $border-color-dark;
$border-double: calc($border-width * 3) double $border-color;
$border-radius: 0.25rem;

// ---------------------------------- \\
//              ELEVATION             \\
// ---------------------------------- \\

$elevation-100: 0 0.25rem 0.5rem hsla(0, 0%, 0%, 0.1),
  0 0.125rem 0.25rem hsla(0, 0%, 0%, 0.1);
$elevation-200: 0 1rem 4rem -2rem hsla(0, 0%, 0%, 0.5),
  0 0.5rem 0.5rem hsla(0, 0%, 0%, 0.1), 0 0.25rem 0.25rem hsla(0, 0%, 0%, 0.1);
$elevation-300: 0 2rem 10rem -5rem hsla(0, 0%, 0%, 0.8),
  0 1rem 4rem -2rem hsla(0, 0%, 0%, 0.5), 0 0.5rem 0.5rem hsla(0, 0%, 0%, 0.1),
  0 0.5rem 0.5rem hsla(0, 0%, 0%, 0.1), 0 0.25rem 0.25rem hsla(0, 0%, 0%, 0.1);

$box-shadow: $elevation-100;
$box-shadow-dark: $elevation-200;

// ---------------------------------- \\
//          TIMING FUNCTIONS          \\
// ---------------------------------- \\

$ease-sine: cubic-bezier(0.37, 0, 0.63, 1);
$ease-quad: cubic-bezier(0.45, 0, 0.55, 1);
$ease-cubic: cubic-bezier(0.65, 0, 0.35, 1);
$ease-quart: cubic-bezier(0.76, 0, 0.24, 1);
$ease-quint: cubic-bezier(0.83, 0, 0.17, 1);
$ease-expo: cubic-bezier(0.87, 0, 0.13, 1);
$ease-circ: cubic-bezier(0.85, 0, 0.15, 1);
$ease-bounce: cubic-bezier(0.68, -0.6, 0.32, 1.6);

$transition-duration: 150ms;
$transition-timing-function: $ease-cubic;

// ---------------------------------- \\
//        INPUTS AND CONTROLS         \\
// ---------------------------------- \\

$input-height: 3rem;
$input-icon-width: $input-height;
$input-label-height: ($input-height * 0.5);
$input-help-text-height: $input-label-height;
$input-abbrev-width: 5rem;

// ---------------------------------- \\
//            BREAKPOINTS             \\
// ---------------------------------- \\

$mobile-breakpoint: 950px;
