<section class="section">
  <div class="container">
    <div class="card cta-card">
      <header class="card__header grid grid--gap-200">
        <div>
          <h3>
            Ready to <br>
            <span class="cta-card__accent-text">level up</span>
            <br>
            your product or idea?
          </h3>
        </div>
        <div>
          {% include shared/cta-button.liquid %}
        </div>
      </header>
      <div class="card__body"></div>
    </div>
  </div>
</section>