/* ---------------------------------------- */
/*               DESCRIPTION                */
/* ---------------------------------------- */

/* Two or more form groups displayed horizontally that share a border */

/* ---------------------------------------- */
/*                 EXAMPLE                  */
/* ---------------------------------------- */

/* 
<fieldset class="fieldset">
    <legend class="fieldset__label">Search</legend>
    <div class="fieldset__container">
        <div class="form-group form-group--select">
            <label for="select-search-type" class="sr-only">Select what you would like to search for</label>
            <select name="search type" id="select-search-type" class="form-group__input">
                <option value="">Products</option>
            </select>
        </div>
        <div class="form-group form-group--has-icon-left flex-grow">
            <label for="search-input" class="sr-only">Enter search term</label>
            <input type="search" id="search-input" class="form-group__input" placeholder="Search..." />
            <div class="form-group__input-icon form-group__input-icon--left">
                <i class="far fa-search"></i>
            </div>
        </div>
    </div>
</fieldset>
*/

/* ---------------------------------------- */
/*                  STYLES                  */
/* ---------------------------------------- */

.fieldset__container {
  display: flex;
}

.fieldset__label {
  @extend %label;
}

.fieldset__container > .form-group .form-group__input {
  border-radius: 0;
}

.fieldset__container > .form-group:first-of-type .form-group__input {
  border-radius: $border-radius 0 0 $border-radius;
}

.fieldset__container > .form-group:last-of-type .form-group__input {
  border-radius: 0 $border-radius $border-radius 0;
}
