.u-mb-100 {
  margin-bottom: var(--space-100);
}

.u-mb-300 {
  margin-bottom: var(--space-300);
}

.u-mb-400 {
  margin-bottom: var(--space-400);
}

.u-mb-500 {
  margin-bottom: var(--space-500);
}

.u-mb-600 {
  margin-bottom: var(--space-600);
}
