@use "../tokens/mixins" as *;

.footer {
  border-top: var(--border-width) var(--border-style) #fff;
  background-image: url(../images/shapes.svg);
  background-color: var(--color-primary-400);
  box-shadow: var(--inset-shadow-700);
}
