@use "base/typography" as *;

.button {
  @include h4;
  --button-height: var(--space-400);
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-050);
  height: var(--button-height);
  padding: 0 var(--space-200);
  color: var(--color-primary-400);
  background-color: #fff;
  border: var(--border-width) var(--border-style) var(--color-primary-100);
  border-radius: var(--border-radius-100);
  box-shadow: var(--box-shadow-400);
  cursor: pointer;
  transition: all var(--transition-duration) var(--transition-timing-function);

  &__icon {
    font-size: var(--fs-500);

    &--wave {
      transform-origin: bottom right;
      animation: wave 2s var(--ease-sine) infinite;
    }
  }

  &:hover {
    background-color: var(--color-primary-100);
    color: var(--color-primary-700);
    translate: 0 calc(var(--space-025) * -0.5);
  }

  &:active {
    translate: 0;
  }

  &--secondary {
    color: #fff;
    background-color: var(--color-secondary-700);
    border-color: transparent;

    &:hover {
      color: #fff;
      background-color: var(--color-secondary-800);
    }
  }

  // Square button with large icon and a tooltip label for a11y
  &--icon {
    position: relative;
    aspect-ratio: 1;
    padding: 0;
    font-size: var(--fs-500);

    &::before {
      @include h6;
      content: attr(aria-label);
      position: absolute;
    }
  }
}

@keyframes wave {
  0% {
    rotate: 0deg;
  }
  60% {
    rotate: 0deg;
  }
  70% {
    rotate: 12deg;
  }
  80% {
    rotate: 0deg;
  }
  90% {
    rotate: 12deg;
  }
  100% {
    translate: 0 0;
  }
}
