@use "../tokens/mixins" as *;

.card {
  @include card;

  &__header {
    margin-bottom: var(--space-500);

    @include mq(small) {
      margin-bottom: var(--space-300);

      h1 {
        font-size: calc(1rem + 5.5vw);
      }
    }
  }

  &__body {
    @include card-body;

    @include mq(small) {
      & .grid {
        display: flex;
        flex-direction: column-reverse;
      }

      & .button {
        width: 100%;
      }
    }
  }
}
