@use "../tokens/mixins" as *;

.card {
  @include card;

  &__body {
    @include card-body;

    .card:has(.card__hero-image) & {
      position: relative;
      border: var(--border-width) var(--border-style) transparent;
    }

    @include mq(small) {
      & .grid {
        display: flex;
        flex-direction: column-reverse;
      }

      & .button {
        width: 100%;
      }
    }
  }

  &__hero-image-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 600px;
    height: 400px;
    border-radius: var(--border-radius-400);
    overflow: hidden;
    pointer-events: none;
  }

  &__hero-image {
    position: absolute;
    top: var(--space-600);
    right: var(--space-300);
    width: 500px;
    transform-origin: top;
    rotate: -15deg;
    border: var(--border-width) var(--border-style) var(--color-primary-100);
    border-radius: var(--border-radius-700);
    box-shadow: var(--box-shadow-700);

    @include mq(medium) {
      scale: 66%;
      right: calc(var(--space-400) * -1);
      top: var(--space-700);
    }
  }
}
