@use "../tokens/colors" as *;
@use "../base/typography" as *;

.case-study-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-250);
  grid-auto-flow: dense;
}

.case-study-card {
  @include body-text;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  gap: var(--space-100);
  aspect-ratio: 10/8;
  padding: var(--space-150);
  background-color: var(--color-secondary-700);
  border-radius: var(--border-radius-700);
  box-shadow: var(--box-shadow-700);
  overflow: hidden;
  transition: all var(--transition-duration) var(--transition-timing-function);

  &:hover {
    translate: 0 calc(var(--space-050) * -1);
  }

  &:active {
    translate: 0;
  }

  &__title {
    position: relative;
    max-width: 15ch;
    color: #fff;
    text-align: end;
    text-shadow: var(--text-shadow-400);
    z-index: 2;
  }

  &__illustration {
    position: absolute;
    left: calc(var(--space-300) * -1);
  }

  &__thumbnail {
    position: absolute;
    top: 0;
    left: -100%;
    rotate: 30deg;
    border: var(--border-width) var(--border-style) var(--color-cool-gray-050);
    border-radius: var(--border-radius-700);
    box-shadow: var(--box-shadow-700);

    .case-study-card--large[data-aspect="tall"] & {
      translate: 50% 25%;
    }

    .case-study-card--large[data-aspect="wide"] & {
      translate: 80% -10%;
    }

    .case-study-card--featured & {
      top: 100%;
      left: 100%;
      rotate: -30deg;
      translate: -75% -85%;
    }
  }

  &--large {
    aspect-ratio: unset;

    &[data-aspect="tall"] {
      grid-row: span 2;
    }

    &[data-aspect="wide"] {
      grid-column: span 2;
    }

    .tag {
      color: var(--color-text-700);
    }

    @each $color, $shade in $colors {
      &[data-color="#{$color}"] .tag {
        background-color: var(--color-#{$color}-100);
      }
    }
  }

  &:not(&--large) {
    @each $color, $shade in $colors {
      &[data-color="#{$color}"] {
        background-color: var(--color-#{$color}-100);

        .tag {
          background-color: var(--color-#{$color}-400);
        }
      }
    }
  }

  &:not(&--small) {
    border: var(--border-width) var(--border-style) #fff;
    box-shadow: var(--inset-shadow-700), var(--box-shadow-700);
  }

  &--featured {
    grid-column: span 2;
    grid-row: span 2;
    align-items: start;
    justify-content: start;
    padding: var(--space-200);
    background-image: url(../images/topo-contour.svg);
    background-blend-mode: overlay;

    .case-study-card__title {
      @include h2;
      font-size: var(--fs-900);
      line-height: 0.9;
      text-align: start;
      text-shadow: var(--text-shadow-700);
      color: #fff;
    }
  }
}
