@use "../base/typography" as *;
@use "../tokens/mixins" as *;

.cta-card {
  position: relative;

  .card__header {
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    gap: var(--space-200);
    margin-bottom: 0;

    @include mq(small) {
      grid-auto-flow: row;
      gap: var(--space-300);
    }
  }

  .card__body {
    margin-top: calc(var(--space-500) * -1);
  }

  &__accent-text {
    @include h1;
    font-size: var(--fs-800);
    line-height: 0.8;
    color: var(--color-primary-400);

    @include mq(small) {
      font-size: var(--fs-700);
    }
  }

  .button {
    padding: 0 var(--space-400);
  }

  @include mq(small) {
    h3 {
      font-size: var(--fs-400);
    }
  }
}
