@use "../base/typography" as *;

.graphic-card {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: end;
  min-height: 14rem;
  padding: var(--space-150);
  color: var(--color-cool-gray-050);
  background-color: var(--color-secondary-700);
  border-radius: var(--border-radius-700);
  box-shadow: var(--box-shadow-700);
  transition: all var(--transition-duration) var(--transition-timing-function);

  &__illustration {
    position: absolute;
    top: 50%;
    left: 0;
    translate: var(--space-150) -50%;
  }

  &__label {
    @include h6;
    position: absolute;
    text-shadow: var(--text-shadow-700);
    z-index: 2;
    transition: all var(--transition-duration) var(--transition-timing-function);
    opacity: 0;
    scale: 0.85;
    pointer-events: none;

    &::before {
      position: absolute;
      filter: drop-shadow(var(--text-shadow-700));
    }

    &:nth-child(1) {
      top: 0;
      left: var(--space-500);
      translate: 0 -150%;
      rotate: -10deg;

      &::before {
        content: url(../images/arrows/arrow-1-odd.svg);
        translate: -125% 0;

        .graphic-card:nth-child(even) & {
          content: url(../images/arrows/arrow-1-even.svg);
          translate: -155% 5%;
          rotate: 30deg;
        }
      }
    }

    &:nth-child(2) {
      top: 0;
      right: var(--space-300);
      translate: 0 -100%;
      rotate: 12deg;

      &::before {
        content: url(../images/arrows/arrow-2-odd.svg);
        translate: 30% -25%;

        .graphic-card:nth-child(even) & {
          content: url(../images/arrows/arrow-2-even.svg);
          translate: 15% 30%;
        }
      }
    }

    &:nth-child(3) {
      top: var(--space-500);
      rotate: -10deg;

      &::before {
        content: url(../images/arrows/arrow-3-odd.svg);
        translate: -125% 0;

        .graphic-card:nth-child(even) & {
          content: url(../images/arrows/arrow-3-even.svg);
          translate: -45% 10%;
          rotate: 20deg;
        }
      }
    }

    &:nth-child(4) {
      bottom: 0;
      right: var(--space-500);
      translate: 0 160%;
      rotate: -8deg;

      &::before {
        content: url(../images/arrows/arrow-4-even.svg);
        translate: -30% -70%;
        rotate: -30deg;

        .graphic-card:nth-child(even) & {
          content: url(../images/arrows/arrow-4-odd.svg);
          translate: -35% -90%;
        }
      }
    }

    &:nth-child(5) {
      bottom: 0;
      left: var(--space-300);
      translate: 0 200%;
      rotate: -20deg;

      &::before {
        content: url(../images/arrows/arrow-4-odd.svg);
        translate: 0 -100%;
      }
    }
  }

  &:hover {
    translate: 0 calc(var(--space-050) * -1);

    .graphic-card__label {
      opacity: 1;
      scale: 1;

      &:nth-child(2) {
        transition-delay: calc(var(--transition-duration) * 0.5);
      }
      &:nth-child(3) {
        transition-delay: calc(var(--transition-duration) * 1);
      }
      &:nth-child(4) {
        transition-delay: calc(var(--transition-duration) * 1.5);
      }
      &:nth-child(5) {
        transition-delay: calc(var(--transition-duration) * 2);
      }
    }
  }
}
