@use "../tokens/mixins" as *;

.hero-card {
  @include mq(small) {
    &:not(&--image) .hero-card__art-container {
      order: -1;
    }

    &--image .hero-card__art-container {
      display: none;
    }

    &__description-container {
      padding-top: var(--space-900);
      font-size: var(--fs-400);
    }

    & .button {
      width: 100%;
    }
  }

  &__layout-container {
    @include grid;
    gap: var(--space-400);

    @include mq(small) {
      grid-template-columns: 1fr;
      grid-auto-flow: row;
    }
  }

  &__image-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 600px;
    height: 450px;
    border-radius: var(--border-radius-400);
    overflow: hidden;
    pointer-events: none;

    @include mq(medium) {
      top: -50px;
    }
  }

  &__image {
    position: absolute;
    top: var(--space-600);
    right: var(--space-300);
    width: 500px;
    transform-origin: top;
    rotate: -15deg;
    border: var(--border-width) var(--border-style) var(--color-primary-100);
    border-radius: var(--border-radius-700);
    box-shadow: var(--box-shadow-700);

    @include mq(medium) {
      scale: 66%;
      right: calc(var(--space-400) * -1);
      top: var(--space-700);
    }
  }

  .card__body {
    position: relative;
    border: var(--border-width) var(--border-style) transparent;
  }
}
