.tag-container {
  display: flex;
  gap: var(--space-050);
}

.tag {
  display: inline-flex;
  align-items: center;
  gap: var(--space-050);
  padding: var(--space-025) var(--space-100);
  color: #fff;
  background-color: var(--color-primary-100);
  border-radius: var(--border-radius-100);
  white-space: nowrap;
}
