// ---------------------------------- \\
//             VARIABLES              \\
// ---------------------------------- \\

$button-height: $input-height;
$small-button-height: $button-height * 0.75;
$button-box-shadow-inset: 0 0 0 $border-width $title-color inset;
$button-box-shadow-elevation: $box-shadow;
$button-box-shadow-base: $button-box-shadow-elevation, $button-box-shadow-inset;

// ---------------------------------- \\
//              DISPLAY               \\
// ---------------------------------- \\

.button {
  @extend %h5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-sm;
  position: relative;
  min-height: $button-height;
  padding: $spacing-sm $spacing-md;
  color: $text-color;
  background-color: $gray-100;
  border: $border;
  border-radius: $border-radius;
  cursor: pointer;
  transition: all $transition-duration $transition-timing-function;
  // filter: url(#fuzzy-text);

  &--hover,
  &:hover,
  &:focus {
    color: $color-primary;
    border-color: $color-primary;
  }

  &--hover,
  &:hover {
    text-decoration: none;
    color: $color-primary-dark;
    background-color: $color-primary-light;
    box-shadow: $button-box-shadow-base;
  }

  &:focus {
    box-shadow: 0 0 0 ($border-width * 2) $gray-700, $button-box-shadow-base;
    outline: none;
  }

  &--pressed,
  &:active {
    color: #fff;
    background-color: $color-primary;
    border-color: $color-primary;
    box-shadow: $button-box-shadow-inset;
    translate: 0 2px;
  }

  &.disabled,
  [disabled] {
    @extend %tooltip;
    cursor: not-allowed !important;
  }

  // ---------------------------------- \\
  //             MODIFIERS              \\
  // ---------------------------------- \\

  &--primary {
    color: $color-primary-dark;
    background-color: $color-primary-light;
    border-color: $color-primary;

    &:focus {
      color: $color-primary;
      // background-color: #fff;
      border-color: $color-primary;
      box-shadow: 0 0 0 ($border-width * 2) $gray-700, $button-box-shadow-base;
    }

    &:hover {
      color: #fff;
      border-color: $color-primary-dark;
      background-color: $color-primary;
    }

    &:active {
      box-shadow: $button-box-shadow-inset;
    }
  }

  &--secondary {
    color: $color-secondary-dark;
    background-color: $color-secondary-light;
    border-color: $color-secondary;

    &:focus {
      color: $color-secondary;
      background-color: #fff;
      border-color: $color-secondary;
      box-shadow: 0 0 0 ($border-width * 2) $color-secondary-light,
        $button-box-shadow-base;
    }

    &:hover {
      color: #fff;
      border-color: $color-secondary;
      background-color: $color-secondary;
    }

    &:active {
      box-shadow: $button-box-shadow-inset;
    }
  }

  &--confirm,
  &--success {
    color: $color-success-dark;
    background-color: $color-success-light;
    border-color: $color-success;

    &:focus {
      color: $color-success;
      background-color: #fff;
      border-color: $color-success;
      box-shadow: 0 0 0 ($border-width * 2) $color-success-light,
        $button-box-shadow-base;
    }

    &:hover {
      color: #fff;
      border-color: $color-success;
      background-color: $color-success;
    }

    &:active {
      box-shadow: $button-box-shadow-inset;
    }
  }

  &--warning {
    color: $color-warning-dark;
    background-color: $color-warning-light;
    border-color: $color-warning;

    &:focus {
      color: $color-warning;
      background-color: #fff;
      border-color: $color-warning;
      box-shadow: 0 0 0 ($border-width * 2) $color-warning-light,
        $button-box-shadow-base;
    }

    &:hover {
      color: #fff;
      border-color: $color-warning;
      background-color: $color-warning;
    }

    &:active {
      box-shadow: $button-box-shadow-inset;
    }
  }

  &--danger {
    color: $color-danger-dark;
    background-color: $color-danger-light;
    border-color: $color-danger;

    &:focus {
      color: $color-danger;
      background-color: #fff;
      border-color: $color-danger;
      box-shadow: 0 0 0 ($border-width * 2) $color-danger-light,
        $button-box-shadow-base;
    }

    &:hover {
      color: #fff;
      border-color: $color-danger;
      background-color: $color-danger;
    }

    &:active {
      box-shadow: $button-box-shadow-inset;
    }
  }

  &--info {
    color: $color-info-dark;
    background-color: $color-info-light;
    border-color: $color-info;

    &:focus {
      color: $color-info;
      background-color: #fff;
      border-color: $color-info;
      box-shadow: 0 0 0 ($border-width * 2) $color-info-light,
        $button-box-shadow-base;
    }

    &:hover {
      color: #fff;
      border-color: $color-info;
      background-color: $color-info;
    }

    &:active {
      box-shadow: $button-box-shadow-inset;
    }
  }

  &--outline {
    background-color: transparent;

    &:focus {
      color: $color-primary;
      // background-color: #fff;
      border-color: $color-primary;
    }

    &.button--hover,
    &:hover {
      color: $title-inverse-color;
      background-color: $color-primary-light;
      border-color: $color-primary;
    }

    &.button--pressed,
    &:active {
      color: #fff;
      background-color: $color-primary;
    }

    &.button--primary {
      color: $color-primary;

      &:focus {
        color: $title-inverse-color;
        background-color: $color-primary;
        border-color: $color-primary;
      }

      &:hover {
        color: $title-inverse-color;
        background-color: $color-primary;
        border-color: $color-primary;
      }

      &:active {
        background-color: $color-primary;
      }
    }

    &.button--secondary {
      color: $color-secondary;

      &:focus {
        color: $color-secondary;
        background-color: #fff;
        border-color: $color-secondary;
      }

      &:hover {
        color: #fff;
        background-color: $color-secondary;
        border-color: $color-secondary;
      }

      &:active {
        background-color: $color-secondary;
      }
    }

    &.button--confirm,
    &.button--success {
      color: $color-success;

      &:focus {
        color: $color-success;
        background-color: #fff;
        border-color: $color-success;
      }

      &:hover {
        color: #fff;
        background-color: $color-success;
        border-color: $color-success;
      }

      &:active {
        background-color: $color-success;
      }
    }

    &.button--warning {
      color: $color-warning;

      &:focus {
        color: $color-warning;
        background-color: #fff;
        border-color: $color-warning;
      }

      &:hover {
        color: #fff;
        background-color: $color-warning;
        border-color: $color-warning;
      }

      &:active {
        background-color: $color-warning;
      }
    }

    &.button--danger {
      color: $color-danger;

      &:focus {
        color: $color-danger;
        background-color: #fff;
        border-color: $color-danger;
      }

      &:hover {
        color: #fff;
        background-color: $color-danger;
        border-color: $color-danger;
      }

      &:active {
        background-color: $color-danger;
      }
    }

    &.button--info {
      color: $color-info;

      &:focus {
        color: $color-info;
        background-color: #fff;
        border-color: $color-info;
      }

      &:hover {
        color: #fff;
        background-color: $color-info;
        border-color: $color-info;
      }

      &:active {
        background-color: $color-info;
      }
    }
  }

  &--link {
    color: $text-color;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;

    &:focus {
      color: $color-primary;
      background-color: #fff;
      border-color: $color-primary;
      box-shadow: 0 0 0 ($border-width * 2) $color-primary-light,
        $button-box-shadow-base;
    }

    &.button--hover,
    &:hover {
      color: $color-primary-dark;
      background-color: $color-primary-light;
      border-color: $color-primary;
      box-shadow: $button-box-shadow-base;
    }

    &:focus:hover {
      box-shadow: 0 0 0 ($border-width * 2) $color-primary-light,
        $button-box-shadow-base;
    }

    &.button--pressed,
    &:active {
      color: #fff;
      background-color: $color-primary;
      box-shadow: $button-box-shadow-base;
    }

    &.button--primary {
      color: $color-primary;

      &:focus {
        color: $color-primary;
        background-color: #fff;
        box-shadow: 0 0 0 ($border-width * 2) $color-primary-light,
          $button-box-shadow-base;
      }

      &:hover {
        color: #fff;
        background-color: $color-primary;
        border-color: $color-primary;
      }

      &:active {
        background-color: $color-primary;
      }
    }

    &.button--secondary {
      color: $color-secondary;

      &:focus {
        color: $color-secondary;
        background-color: #fff;
        box-shadow: 0 0 0 ($border-width * 2) $color-secondary-light,
          $button-box-shadow-base;
      }

      &:hover {
        color: #fff;
        background-color: $color-secondary;
        border-color: $color-secondary;
      }

      &:active {
        background-color: $color-secondary;
      }
    }

    &.button--confirm,
    &.button--success {
      color: $color-success;

      &:focus {
        color: $color-success;
        background-color: #fff;
        border-color: $color-success;
        box-shadow: 0 0 0 ($border-width * 2) $color-success-light,
          $button-box-shadow-base;
      }

      &:hover {
        color: #fff;
        background-color: $color-success;
        border-color: $color-success;
      }

      &:active {
        background-color: $color-success;
      }
    }

    &.button--warning {
      color: $color-warning;

      &:focus {
        color: $color-warning;
        background-color: #fff;
        border-color: $color-warning;
        box-shadow: 0 0 0 ($border-width * 2) $color-warning-light,
          $button-box-shadow-base;
      }

      &:hover {
        color: #fff;
        background-color: $color-warning;
        border-color: $color-warning;
      }

      &:active {
        background-color: $color-warning;
      }
    }

    &.button--danger {
      color: $color-danger;

      &:focus {
        color: $color-danger;
        background-color: #fff;
        border-color: $color-danger;
        box-shadow: 0 0 0 ($border-width * 2) $color-danger-light,
          $button-box-shadow-base;
      }

      &:hover {
        color: #fff;
        background-color: $color-danger;
        border-color: $color-danger;
      }

      &:active {
        background-color: $color-danger;
      }
    }

    &.button--info {
      color: $color-info;

      &:focus {
        color: $color-info;
        background-color: #fff;
        border-color: $color-info;
        box-shadow: 0 0 0 ($border-width * 2) $color-info-light,
          $button-box-shadow-base;
      }

      &:hover {
        color: #fff;
        background-color: $color-info;
        border-color: $color-info;
      }

      &:active {
        background-color: $color-info;
      }
    }
  }

  &--icon {
    @extend %tooltip;
    width: $button-height;
    min-width: $button-height;
  }

  &--rounded {
    border-radius: $button-height;

    &.button--sm {
      border-radius: $small-button-height;
    }
  }

  &--sm {
    min-height: $small-button-height;
    padding: 0 $spacing-sm;
  }
}
