*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
}

body {
  @extend %p;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures contextual;
  font-kerning: normal;
  color: $gray-200;
  background-color: $gray-700;
}

header,
main,
footer {
  padding: $spacing-xl;
}

a {
  color: $link-color;
  text-decoration: none;
  position: relative;
  transition: color $transition-duration $transition-timing-function;

  &:hover {
    color: $color-primary;
    text-decoration: underline;
  }
}

label {
  display: inline-block;
  @extend %label;
  letter-spacing: 0.01em;
}

ol,
ul {
  padding-left: $spacing-md;

  &.flex {
    padding-left: 0;
    gap: 4rem;
  }
}

ol {
  list-style-type: decimal;
  margin-bottom: 1rem;
}

ul {
  list-style-type: disc;
  margin-bottom: 1rem;
}

li {
  @extend %h3;

  &::marker {
    font-weight: 600;
    color: $color-primary;
  }
}

code {
  border: $border;
  background-color: $gray-100;
  padding: 0 $spacing-xs;
  border-radius: $border-radius;
  font-family: $font-family-mono;
  font-feature-settings: normal;
  font-size: 87.5%;
  font-weight: 700;
  line-height: 1;
  white-space: pre;
  vertical-align: middle;
}

hr {
  border: none;
  border-top: $border;
  width: 100%;
  overflow: visible;
  text-align: center;
  font-family: $font-family-title;
  color: $border-color-dark;
  font-size: 1.5rem;

  &::after {
    background: $gray-700;
    content: "§";
    padding: 0 $spacing-sm;
    position: relative;
    top: calc($spacing-md * -1);
  }
}
