*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

%background-texture {
  background: url(../../images/noise.svg);
  background-blend-mode: overlay;
}

body {
  @extend %p;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures contextual;
  font-kerning: normal;
  color: $gray-200;
  background-color: $gray-700;
  // lame fallback becuase background-blend-mode
  // and background-repeat break on iOS
  background-image: url(../../images/bg.png);
  background-size: 100px 100px;
}

.l-header,
.l-main,
.l-footer {
  padding: $spacing-xl;

  @media screen and (max-width: $mobile-breakpoint) {
    padding: $spacing-md;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  position: relative;
  transition: color $transition-duration $transition-timing-function;

  &:hover {
    color: $color-info;
    text-decoration: underline;
  }
}

label {
  display: inline-block;
  @extend %label;
  letter-spacing: 0.01em;
}

ol,
ul {
  padding-left: $spacing-xl;

  &.flex {
    gap: $spacing-md calc($spacing-lg * 2);
  }
}

ol {
  list-style-type: decimal;
  margin-bottom: 1rem;
}

ul {
  list-style-type: disc;
  margin-bottom: 1rem;
}

li {
  @extend %h3;
  color: $title-color;

  &::marker {
    font-weight: 600;
    color: $color-info;
  }

  small {
    color: $text-color-dark;
  }
}

ol,
ul {
  &:not(.flex) li:not(:last-of-type) {
    margin-bottom: $spacing-md;
  }
}

ol,
ul {
  ol,
  ul {
    margin-top: calc($spacing-sm * -1);
    margin-bottom: $spacing-md;

    li {
      @extend %h5;
      color: $text-color-dark;
      margin-bottom: 0 !important;
    }
  }
}

code {
  border: $border;
  background-color: $gray-100;
  padding: 0 $spacing-xs;
  border-radius: $border-radius;
  font-family: $font-family-mono;
  font-feature-settings: normal;
  font-size: 87.5%;
  font-weight: 700;
  line-height: 1;
  white-space: pre;
  vertical-align: middle;
}

hr {
  border: none;
  border-top: $border-double;
  width: 100%;
  overflow: visible;
  text-align: center;
  font-family: $font-family-title;
  color: $border-color;
  font-size: 1.5rem;
  filter: url(#chalk);

  &::after {
    // content: "§";
    padding: 0 $spacing-sm;
    position: relative;
    display: inline-block;
    top: -1.5ch;
    text-shadow: 0 0 4px $gray-800;
    background-color: $gray-700;
    // lame fallback becuase background-blend-mode
    // and background-repeat break on iOS
    background-image: url(../../images/bg.png);
    background-size: 100px 100px;
  }
}
