h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title-color;
}

%h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.5rem;
  font-family: $font-family-title;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }
}

h1 {
  @extend %h1;
  padding-top: ($spacing-base * 3);
  padding-bottom: $spacing-base;
  // filter: url(#chalk-long-shadow);
}

%h2 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: $font-family-title;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h2 {
  @extend %h2;
  padding-top: ($spacing-base * 3.5);
  padding-bottom: $spacing-base;
}

%h3 {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-family: $font-family-title-alt;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

h3 {
  @extend %h3;
  padding-top: ($spacing-base * 3.5);
  padding-bottom: $spacing-base;
}

%h4 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2.25rem;
  font-family: $font-family-title;
  // font-style: italic;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  // filter: url(#chalk);

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

h4 {
  @extend %h4;
  padding-top: ($spacing-base * 2);
  padding-bottom: ($spacing-base * 1);
}

%h5 {
  font-weight: 800;
  font-size: 0.8rem;
  line-height: 1.5rem;
  font-family: $font-family-title;
  font-style: italic;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

h5 {
  @extend %h5;
  padding-top: ($spacing-base * 1.5);
  padding-bottom: $spacing-base;
  color: $color-secondary;
}

%h6 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: $font-family-title-alt;
  letter-spacing: 0.01em;
}

h6 {
  @extend %h6;
  padding-top: ($spacing-base * 1.5);
  padding-bottom: $spacing-base;
}

%p {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.75rem;
  font-family: $font-family-text;

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: -0.015em;
  }
}

p {
  @extend %p;
  padding-bottom: $spacing-base;
}

%lead {
  font-weight: 500;
  font-size: 2.5rem;
  font-style: italic;
  line-height: 3.5rem;
  font-family: $font-family-text;
  // filter: url(#chalk);

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }
}

.lead-text {
  @extend %lead;
  color: $title-color;
  margin-top: $spacing-lg;
  padding-bottom: 0;
  text-align: center;
  letter-spacing: 0.025em;
}

%label {
  @extend %h5;
  font-style: normal;
}

label {
  @extend %label;
}

.eyebrow-text {
  @extend %label;
  display: block;
  padding-bottom: $spacing-xs;
  color: $color-secondary;
}

small {
  font-size: 87.5%;
}
